.container {
  max-width: $container;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 1365px) and (min-width: 769px) {
    padding-left: 65px;
    padding-right: 65px;
  }
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
.container--wide {
  max-width: 100%;
  padding-left: 65px;
  padding-right: 65px;
  @media (max-width: 1099px) {
    padding-top: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
}
.container--full {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

// .section {
//     margin: 62px 0;

//     @media (max-width: $tablet) {
//         margin: 40px 0;
//     }

//     @media (max-width: $mobile-m) {
//         margin: 30px 0;
//     }
// }

.b_section--bottom-gutter {
  margin-bottom: 144px;
  @media (max-width: 1099px) {
    margin-bottom: 80px;
  }
}
