// Пользовательские переменные
:root {
    --ffMain: 'Arial', sans-serif;
    --ffHeader: sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1203px;
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
:root {
    --main: #000000;
    --second: #747474;
    --accent: #399478;
    --accent-hover: #44BD99;
    --accent-active: #37866E;
    --accent2: #DC8B2D;
    --accent2-active: #C27B29;
    --outline: #C0C0C0;
    --bg-page: #FFF;
    --bg-block: #F8F8F8;
    --error: #E83D3D;
    --gradient-green: linear-gradient(154.68deg, #D7F67E -3.92%, #54E0FF 139.84%);
    --gradient-violet: linear-gradient(318.29deg, rgba(126, 174, 255, 0.7) -8.81%, rgba(252, 166, 233, 0.7) 96.7%);
    --gradient-yellow: linear-gradient(135deg, #F7FFA0 2.88%, #FFC683 100%);
    --gradient-pink: linear-gradient(157.34deg, #FFE9CC -0.64%, #EF629F 158.71%);
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);