// Пользовательские переменные
:root {
  --ffMain: "Arial", sans-serif;
  --ffHeader: sans-serif;
  --tr: 0.3s; // Плавность перехода
  --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 769px; // Минимальное разрешения экрана для hover-эффекта
$container: 1203px;
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
:root {
  --main: #000000;
  --second: #747474;
  --accent: #399478;
  --accent-hover: #44bd99;
  --accent-active: #37866e;
  --accent2: #dc8b2d;
  --accent2-active: #c27b29;
  --outline: #c0c0c0;
  --bg-page: #fff;
  --bg-block: #f8f8f8;
  --error: #e83d3d;
  --gradient-green: linear-gradient(154.68deg, #d7f67e -3.92%, #54e0ff 139.84%);
  --gradient-violet: linear-gradient(
    318.29deg,
    rgba(126, 174, 255, 0.7) -8.81%,
    rgba(252, 166, 233, 0.7) 96.7%
  );
  --gradient-yellow: linear-gradient(135deg, #f7ffa0 2.88%, #ffc683 100%);
  --gradient-pink: linear-gradient(157.34deg, #ffe9cc -0.64%, #ef629f 158.71%);
}

// Размеры для бургера
$bar-width: 24px;
$bar-height: 4px;
$bar-spacing: 8px;

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);
