@import '_fonts'; // Шрифты
@import '_variables'; // Переменные
@import '_reset'; // Сброс css

// Миксин для перевода px в vw
@function vw($px) {
    @return $px/(1920 / 100vw);
}

// Общие стили для страниц
// Стиль выделения элементов на странице
// ::selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }
// ::-moz-selection {
//     // background: #CCF2E9;
//     background: $accent-hover;
//     color: #fff;
// }

// Стиль скроллбара
// body::-webkit-scrollbar {
//     position: fixed;
//     top: 0;
//     right: 0;
//     width: .6em;
//     height: 100%;
// }

// body::-webkit-scrollbar-track {
//     background: #FEF1EB;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: #CAC1BC;
// }

body {
    font-family: $ffMain;
    color: $main;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    background: $bg-page;

    &._lock {
        overflow: hidden;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    @media (max-width: 992px) {
        border-bottom: 1px solid #DCE4E7;

        .send-request {
            display: none;
        }
    }
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1826px;
    margin: 0 auto;
    min-height: 120px;
    padding: 0 15px;

    @media (max-width: 992px) {
        min-height: 48px;
    }
}

.logo {
    display: inline-block;
    width: 69px;
    height: 35px;
    margin-right: 243px;

    @media (max-width: 1200px) {
        margin-right: 60px;
    }

    @media (max-width: 992px) {
        width: 47px;
        height: 25px;
    }
}

.main-nav {
    @media (max-width: 992px) {
        display: none;
    }
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__list li + li {
    margin-left: 48px;
}

.main-nav__list li a {
    font-size: 20px;
    line-height: 23px;
}

.send-request {
    display: flex;
    align-items: center;
    column-gap: 14px;
    transform: translateX(-4px);
    margin-left: auto;
}

.send-request__icon {
    width: 36px;
    height: 36px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12L20 8L12 8L12 -3.49691e-07L8 -5.24536e-07L8 8L-3.49691e-07 8L-5.24537e-07 12L8 12L8 20L12 20L12 12L20 12Z' fill='white'/%3E%3C/svg%3E");
    background-color: $main;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.send-request__text {
    font-size: 20px;
    line-height: 23px;
}

.phone {
    display: none;
    margin-left: auto;
    margin-right: 30px;
    transform: translateY(2px);

    @media (max-width: 992px) {
        display: block;
    }
}

.phone__icon {
    width: 24px;
    height: 24px;
}

.hamburger {
    display: none;
    border: none;
    padding: 0;
    background-color: transparent;
    width: 24px;
    height: 20px;
    position: relative;
    transform: translate(-2px, 1px);
    position: relative;
    z-index: 2;

    @media (max-width: 992px) {
        display: block;
    }
}

.hamburger._toggle .hamburger__line {
    background-color: #ffffff;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    height: 4px;
    background-color: $main;
    transition: transform 0.3s;
}

.hamburger._toggle::before,
.hamburger._toggle::after {
    background-color: #ffffff;
}

.hamburger::before {
    top: 0;
}

.hamburger._toggle::before {
    transform: rotate(45deg);
    transform-origin: top left;
}

.hamburger::after {
    bottom: 0;
}

.hamburger._toggle::after {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.hamburger__line {
    display: block;
    height: 4px;
    background-color: $main;
}

.hamburger._toggle .hamburger__line {
    opacity: 0;
    transition: opacity 0.3s;
}

.modal-mobile {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: var(--tr);
}

.modal-mobile._show {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
}

.modal-mobile__wrapper {
    height: 100%;
    transform: translateX(100%);
    transition: var(--tr);
}

.modal-mobile._show .modal-mobile__wrapper {
    transform: translateX(0);
}

.modal-mobile__box {
    background-color: #141212;
    max-width: 203px;
    height: 100%;
    margin-left: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-mobile__header {
    min-height: 47px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.modal-mobile._show .modal-mobile__body,
.modal-mobile._show .modal-mobile__footer {
    animation: opacity 4s linear both;
    transition-delay: 1s;
}

.modal-mobile__body {
    padding: 32px 40px 32px 51px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.modal-mobile__menu-list {
    color: #ffffff;
    animation: opacity 4s linear both, 1s;
}

.modal-mobile__menu-list li + li {
    margin-top: 21px;
}

.modal-mobile__menu-list li a {
    font-size: 20px;
    line-height: 23px;
}

.modal-mobile__menu-list li a span {
    margin-right: 2px;
}

.modal-mobile__footer {
    padding: 29px 18px 45px 51px;
}

.modal-mobile__item + .modal-mobile__item {
    margin-top: 13px;
}

.modal-mobile__link {
    color: #D7F67E;
    background: linear-gradient(150deg, #D7F67E 13.4%, #7EE0F6 86.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 14px;
    line-height: 16px;
}

.promo {
    padding: 26px 0;

    .send-request {
        display: none;
    }

    @media (max-width: 992px) {
        padding: 15px 0;

        .send-request {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            margin-left: 5px;
        }
    }
}

.promo__wrapper {
    max-width: 1826px;
    margin: 0 auto;
    padding: 0 15px;
}

.promo__content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 992px) {
        flex-direction: column-reverse;
    }
}

.promo__title {
    max-width: 900px;
    font-weight: 400;
    font-size: 136px;
    line-height: 1.11;

    @media (max-width: 1200px) {
        max-width: 780px;
    }

    @media (max-width: 992px) {
        font-size: 40px;
        max-width: 280px;
        margin-bottom: 27px;
    }
}

.promo__video {
    width: 132px;
    height: 264px;
    background-image: url('../img/video-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: translateY(21px);

    @media (max-width: 992px)  {
        width: 58px;
        height: 119px;
        transform: translateY(0);
        margin-left: auto;
        margin-bottom: 35px;
    }
}

.promo__text {
    max-width: 666px;
    margin-left: auto;
    font-size: 35px;
    line-height: 40px;
    transform: translateY(-24px);

    @media (max-width: 992px) {
        transform: translateY(0);
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 22px;
        margin-left: 0;
    }
}

.cases {
    position: relative;
    padding: 0 20px;

    @media (max-width: 768px) {
        padding: 0 8px;
    }
}

.cases__list-preview {
    display: flex;
    justify-content: space-between;
    max-width: 1792px;
    margin: 0 auto 64px;
    column-gap: 52px;
    transition:  max-width 0.7s;

    @media (max-width: 992px) {
        max-width: none;
        justify-content: center;
        margin-bottom: 40px;
    }

    @media (max-width: 768px) {
        row-gap: 40px;
    }

    @media (max-width: 568px) {
        margin-bottom: 8px;
        gap: 8px;
    }
}

.cases__list-preview li {
    @media (max-width: 992px) {
        width: 46%;
    }

    @media (max-width: 568px) {
        width: 49%;
    }
}

.cases__list-preview._width {
    max-width: 1172px;
}

.cases__preview-content-one,
.cases__preview-content-two {
    position: relative;

    @media (max-width: 992px) {
        width: 100%;
        height: 496px;
    }

    @media (max-width: 568px) {
        height: 244px;
        min-width: 148px;
    } 
}

.cases__preview-content-one a
.cases__preview-content-two a {
    display: block;
    width: 100%;
    height: 100%;
}

.cases__preview-content-one img,
.cases__preview-content-two img {
    border-radius: 16px;

    @media (max-width: 992px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 992px)  {
        border-radius: 8px;
    }
}

.cases__preview-content-one a,
.cases__preview-content-two a {
    display: block;
}

.cases__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 52px;
    max-width: 1172px;
    margin: 0 auto 96px;

    @media (max-width: 992px) {
        max-width: none;
        gap: 40px 30px;
        justify-content: space-between;
    }

    @media (max-width: 568px) {
        gap: 6px;
    }
}

.cases__list li {
    @media (max-width: 992px) {
        width: 47%;
    }

    @media (max-width: 568px) {
        width: 49%;
    }
}

.cases__list li:nth-child(7) {
    @media (max-width: 992px) {
        width: 100%;
    }
}

.cases__content {
    position: relative;
    width: 356px;
    height: 496px;
    border-radius: 5px;

    @media (max-width: 992px) {
        width: 100%;
    }

    @media (max-width: 568px) {
        height: 244px;
        min-width: 148px;
    }
}

.cases__content--width {
    width: 764px;

    @media (max-width: 992px) {
        width: 100%;
    }
}

.cases__content a {
    display: block;
    width: 100%;
    height: 100%;
}

.cases__content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;

    @media (max-width: 568px) {
        border-radius: 8px;
    }
}

.cases__content p {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    padding-top: 24px;
    padding-left: 24px;

    @media (max-width: 568px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.cases__content .cases__text-white {
    color: #ffffff;
}

.cases__link-box {
    text-align: center;
}

.cases__link {
    position: relative;
    font-size: 20px;
    line-height: 23px;
    padding-left: 54px;
}

.cases__link::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.84375 14.1569L0.84375 10.1569L13.501 10.1569L7.01563 3.67157L9.84405 0.843147L21.1578 12.1569L21.1577 12.1569L21.1578 12.157L9.84405 23.4707L7.01563 20.6423L13.501 14.1569L0.84375 14.1569Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

@import '_grid'; // Сетка

// Анимация
@import './_animation';

// Компоненты
@import './components/_buttons';
@import './components/_forms';
@import './components/_modal';
 
// Текстовые компоненты
@import './components/text/_text';
@import './components/text/_titles';

// Секции
@import './sections/_header';
@import './sections/_footer';

// Страницы

// Библиотеки
@import './libs/_aos';
@import './libs/_lightgallery';
@import './libs/_swiper';