.text {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #000000;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 23px;
  }
}

.text--gradient-green {
  background: linear-gradient(133.54deg, #cef461 4.02%, #2cb4d1 43.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text--gradient-green-2 {
  background: linear-gradient(145.48deg, #cef461 5.97%, #2cb4d1 81.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text--underline-dotted-green {
  border-bottom: 2px dashed #89c53d;
}

.text--gradient-magenta {
  background: linear-gradient(
    310.39deg,
    rgba(86, 149, 255, 0.7) 42.2%,
    rgba(255, 121, 225, 0.7) 70.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
