.title {
  font-weight: 400;
  font-size: 64px;
  line-height: 68px;
  color: #000000;

  @media (max-width: 992px) {
    font-size: 48px;
    line-height: 53px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 34px;
  }
}