.brands {
  padding-top: 144px;
  padding-bottom: 160px;
  background: linear-gradient(0deg, #F1F1F1, #F1F1F1), #F1F1F1;

  @media (max-width: 768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.brands__title {
  margin-bottom: 96px;

  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}

.brands__title a {
  background: linear-gradient(154.68deg, #D7F67E -3.92%, #54E0FF 139.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #8BCB03;
}

.brands__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  @media (max-width: 420px) {
    gap: 12px;
    justify-content: flex-start;
  }
}

.brands__item:last-child {
  @media (max-width: 768px) {
    display: none;
  }
}

.brands__item img {
  width: auto;
  max-width: 100%;
}