.cases {
  position: relative;
  padding: 0 20px 96px 20px;
  @media (max-width: 560px) {
    padding: 0px 8px 48px;
  }
}
.cases--no-padding-bottom {
  padding-bottom: 0;
  margin-bottom: -70px;
  position: relative;
  z-index: 3;
  @media (max-width: 1099px) {
    margin-bottom: 0;
  }
}

.cases-filter {
  position: relative;
  z-index: 3;
  max-width: 1826px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @media (min-width: 1826px) {
    padding: 0 18px;
  }
  @media (max-width: 1599px) {
    max-width: 1205px;
    padding: 0 15px;
  }
  @media (max-width: 1240px) {
    padding: 0;
  }
  @media (max-width: 992px) {
    margin-bottom: 24px;
  }
  @media (max-width: 560px) {
    width: calc(100% + 8px);
    margin-left: -5px;
  }
}
.container--wide .cases-filter {
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 992px) {
    max-width: 100%;
  }
}
.cases-filter__categories {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;

  @media (max-width: 992px) {
    margin-bottom: 24px;
  }
  @media (max-width: 575px) {
    margin-bottom: 16px;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.25) 9px,
      rgba(0, 0, 0, 1) 18px,
      rgba(0, 0, 0, 1) calc(100% - 18px),
      rgba(0, 0, 0, 0.25) calc(100% - 9px),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.25) 9px,
      rgba(0, 0, 0, 1) 18px,
      rgba(0, 0, 0, 1) calc(100% - 18px),
      rgba(0, 0, 0, 0.25) calc(100% - 9px),
      rgba(0, 0, 0, 0)
    );
    overflow-x: scroll;
    padding-left: 15px;
    margin-left: -5px;
    overflow: hidden;
  }
}
.cases-filter__category-inner {
  display: flex;
}
.cases-filter__category-wrap,
.cases-filter__category {
  display: flex;
  color: var(--third);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.1;

  @media (max-width: 992px) {
    font-size: 38px;
  }
  @media (max-width: 575px) {
    font-size: 28px;
  }
}
.cases-filter__category:hover {
  color: #808080;
}
.cases-filter__category-wrap::after {
  content: "/";
  margin-right: 16px;
  margin-left: 16px;
}
.cases-filter__category-wrap:last-of-type::after {
  content: none;
}
.cases-filter__category--active,
.cases-filter__category--active:hover {
  color: var(--main);
}
.cases-filter__industries {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 576px) {
    overflow: hidden;
  }
}
// .cases-filter__industries-scrollarea {
.scrollarea__horizontal {
  @media (max-width: 576px) {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 25px;
    margin-left: -20px;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
}
.cases-filter__industries-inner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cases-filter__industries-inner::after {
  @media (max-width: 1010px) {
    content: "";
    display: block;
    min-width: 10px;
    height: 20px;
    background: transparent;
  }
}
.cases-filter__industry {
  position: relative;
  margin-right: 8px;
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  line-height: 18px;
  color: #323232;
  padding: 1px 1px;

  @media (max-width: 576px) {
    font-size: 14px;
  }
}
.tab-button__inner {
  padding: 11px 15px;
  display: block;
  background: #f1f1f1;
  border-radius: 100px;

  @media (max-width: 768px) {
    padding: 5px 15px;
  }
}

.cases-filter__industry:hover {
  background: var(--gradient-tab);
}

.cases-filter__industry--active {
  background: var(--gradient-tab);
  color: #fff;
}
.cases-filter__industry--active .tab-button__inner {
  background: transparent;
}

.cases-filter__industries-more {
  margin-left: auto;
  margin-right: 16px;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/more.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 575px) {
    display: none;
  }
}
.cases-filter__industries-dropdown {
  transform-origin: top right;
  transition: all 0.5s ease;
  position: absolute;
  right: 16px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #fdfdfd;
  padding: 16px;
  border: 1px solid #f3f3f3;
  box-shadow: 0px 3px 14px -2px rgba(6, 29, 40, 0.05),
    0px 9px 26px -2px rgba(6, 29, 40, 0.12);
  border-radius: 16px;
  transform: scale(0.2);
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  height: 285px;
}
.cases-filter__industries-dropdown--visible {
  transform: scale(1);
  opacity: 1;
  pointer-events: initial;
}
.cases-filter__industries-dropdown .cases-filter__industry {
  margin-right: 0;
  margin-bottom: 8px;
}

.cases__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 64px 52px;
  max-width: 1172px;
  margin: 0 auto 96px;
  @media (max-width: 1211px) {
    gap: 20px;
  }
  @media (max-width: 992px) {
    // justify-content: space-between;
    justify-content: flex-start;
    gap: 10px;
  }
  @media (max-width: 568px) {
    gap: 1%;
    margin-bottom: 48px;
  }
}

.cases__list li {
  transition: transform 0.6s ease;
  &:last-child {
    display: none;
  }
  @media (max-width: 1211px) {
    width: 31.9%;
    &:nth-child(7) {
      width: 66%;
    }
  }
  @media (max-width: 480px) {
    width: 50%;
  }
  @media (max-width: 992px) {
    width: 32.4%;
    &:nth-child(7) {
      width: 32.4%;
    }
  }
  @media (max-width: 768px) {
    width: 49%;
    margin-bottom: 2%;
    &:first-child {
      width: 100%;
      order: 3;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 14;
    }
    &:nth-child(4) {
      order: 2;
    }
    &:nth-child(5) {
      order: 7;
    }
    &:nth-child(6) {
      order: 5;
    }
    &:nth-child(7) {
      width: 49%;
      order: 4;
    }
    &:nth-child(8) {
      order: 6;
    }
    &:nth-child(9) {
      width: 100%;
      order: 10;
    }
    &:nth-child(10) {
      order: 11;
    }
    &:nth-child(11) {
      order: 9;
    }
    &:nth-child(12) {
      order: 8;
    }
    &:nth-child(13) {
      order: 13;
    }
    &:last-child {
      display: block;
      order: 12;
    }
  }
}

.cases__list-preview {
  display: flex;
  justify-content: space-between;
  max-width: 1792px;
  margin: 0 auto 64px;
  column-gap: 52px;
  transition: 0.45s ease-in;
  flex-direction: row-reverse;
  &._width {
    max-width: 1172px;
    @media (max-width: 1211px) {
      margin-bottom: 20px;
      column-gap: 20px;
    }
    li {
      &:first-child {
        width: 31.3%;
        pointer-events: auto;
        @media (max-width: 1211px) {
          width: 32%;
        }
      }
      &:last-child {
        width: 67.5%;
        pointer-events: auto;
        @media (max-width: 1211px) {
          width: 66%;
        }
      }
      p {
        position: absolute;
        top: 24px;
        left: 24px;
        opacity: 1;
        font-size: 24px;
        line-height: 30px;
        transition: opacity 0.5s;
      }
    }
  }
  li {
    transition: 0.45s ease-in;
    &:first-child {
      width: 37%;
      pointer-events: none;
    }
    &:last-child {
      width: 60%;
      pointer-events: none;
    }
    p {
      opacity: 0;
    }
  }
  img {
    border-radius: 16px;
  }
}

.cases__list-preview li div {
  position: relative;
  z-index: 2;
  border-radius: 16px;
  overflow: hidden;
}

.cases__list-preview li a {
  border-radius: 16px;
}

.cases__list-preview li a:hover p {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.cases__list-preview li a.cases__text-white {
  color: #ffffff;
}

.cases__list-preview img {
  transition: transform 0.2s;
  transform: translateZ(0);
  height: 496px;
  object-fit: cover;
}

@media (hover: hover) {
  .cases__list-preview a:hover img {
    transform: scale(1.2);
  }
}

.cases__content {
  position: relative;
  z-index: 2;
  width: 356px;
  height: 496px;
  border-radius: 16px;
  overflow: hidden;
  @media (max-width: 1211px) {
    width: 100%;
    min-height: 496px;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
  @media (max-width: 768px) {
    height: 284px;
    min-height: 284px;
  }
  @media (max-width: 568px) {
    border-radius: 8px;
  }
  @media (max-width: 480px) {
    height: 244px;
    min-height: 244px;
  }
}

@media (hover: hover) {
  .cases__content a:hover img {
    transform: scale(1.2);
  }
}

.cases__content a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.cases__content--width {
  width: 764px;
  @media (max-width: 1211px) {
    width: 100%;
  }
  @media (max-width: 992px) {
    width: 100%;
  }
}

.cases__content a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.cases__content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  transform: translateZ(0);
  transition: transform 0.2s linear;
  @media (max-width: 568px) {
    border-radius: 8px;
  }
}

.cases__content p {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  @media (max-width: 568px) {
    padding-top: 8px;
    padding-left: 12px;
    font-size: 14px;
    line-height: 16px;
  }
}

.cases__content .cases__text-white {
  color: #ffffff;
}

.cases__link-box {
  text-align: center;
}

.cases__link {
  height: 36px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  position: relative;
  font-size: 20px;
  line-height: 23px;

  &:hover {
    .cases__link-content {
      transform: translateY(-17px);
    }
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.cases__link-content {
  display: flex;
  flex-direction: column;
  transform: translateY(17px);
  transition: transform 0.2s linear;

  span:first-child {
    margin-bottom: 10px;
  }
}

.cases__icon {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #000000;
  transition: background 0.2s linear;
}

.cases__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(145.48deg, #cef461 5.97%, #2cb4d1 81.8%);
  transition: opacity 0.2s linear;
  opacity: 0;
}

.cases__icon::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.84375 14.1569L0.84375 10.1569L13.501 10.1569L7.01563 3.67157L9.84405 0.843147L21.1578 12.1569L21.1577 12.1569L21.1578 12.157L9.84405 23.4707L7.01563 20.6423L13.501 14.1569L0.84375 14.1569Z' fill='white'/%3E%3C/svg%3E")
    no-repeat center;
}

.cases__link:hover .cases__icon {
  background: transparent;
}

.cases__link:hover .cases__icon::before {
  opacity: 1;
}
