.our-services {
  padding-top: 144px;
  padding-bottom: 120px;

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.our-services__content {
  display: flex;
  justify-content: space-between;
  max-width: 1087px;

  @media (max-widtH: 992px) {
    display: block;
  }
}

.our-services__title {
  @media (max-widtH: 992px) {
    margin-bottom: 32px;
  }
}

.our-services__content .text {
  max-width: 681px;
  transform: translateY(8px);

  @media (max-widtH: 992px) {
    max-width: none;
    transform: translateY(0);
  }
}