.promo {
  padding: 26px 0 55px;

  @media (max-width: 1599px) {
    padding-top: 12px;
    padding-bottom: 63px;
  }

  .send-request {
    display: none;
  }

  @media (max-width: 992px) {
    padding: 15px 0 24px;

    .send-request {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-left: 5px;
    }
  }
}
.promo--only-title {
  // padding-bottom: 200px;
  // @media (max-width: 1599px) {
  //   padding-bottom: 80px;
  // }
  // @media (max-width: 567px) {
  //   padding-bottom: 60px;
  // }
  @media (min-width: 1100px) {
    padding-bottom: 85px;
  }
}
.promo--only-title .promo__title {
  @media (max-width: 575px) {
    margin-bottom: 40px;
  }
}
.promo--branding {
  padding-bottom: 80px;

  @media (max-width: 1440px) {
    margin-bottom: 64px;
  }
  @media (max-width: 1099px) {
    padding-bottom: 24px;
    margin-bottom: 0;
  }
}
.promo--branding .promo__content {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1099px) {
    flex-direction: row;
  }

  @media (max-width: 575px) {
    margin-bottom: 24px;
  }
}
.promo--branding .promo__title {
  max-width: 100%;
  margin-bottom: 163px;
  width: 100%;

  @media (max-width: 1440px) {
    margin-bottom: 96px;
  }
  @media (max-width: 1099px) {
    margin-bottom: 24px;
  }
}
.promo--branding .promo__texts {
  @media (max-width: 575px) {
    margin-bottom: 0;
  }
}
.promo--branding .promo__text {
  max-width: 1080px;
  transform: none;
  font-size: 32px;
  line-height: 125%;
  padding-right: 90px;

  @media (max-width: 1600px) {
    max-width: 900px;
    font-size: 24px;
    padding-right: 0;
  }

  @media (max-width: 1099px) {
    font-size: 16px;
  }
}

.promo--branding .promo__video {
  height: auto;
  background-position: left;
  transform: none;

  @media (max-width: 1099px) {
    order: -1;
    height: 116px;
    margin-bottom: 34px;
  }
}

.promo__wrapper {
  max-width: 1826px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1599px) {
    max-width: 1205px;
  }

  @media (max-width: 992px) {
    padding: 49px 15px 0;
  }
}

.promo__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1599px) {
    margin-bottom: 64px;
  }

  @media (max-width: 992px) {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}

.promo__title {
  max-width: 900px;
  font-weight: 400;
  font-size: 136px;
  line-height: 1.11;

  @media (max-width: 1599px) {
    max-width: 780px;
    font-size: 96px;
    line-height: 108px;
  }

  @media (max-width: 992px) {
    font-size: 60px;
    max-width: 280px;
    line-height: 70px;
  }

  @media (max-width: 568px) {
    font-size: 40px;
    line-height: 49px;
  }
}

.promo__video {
  width: 132px;
  height: 264px;
  background-image: url("../img/promo/video-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(21px);

  @media (max-width: 1599px) {
    transform: translateY(9px);
  }

  @media (max-width: 992px) {
    width: 58px;
    height: 119px;
    transform: translateY(0);
    margin-left: auto;
    margin-bottom: 35px;
  }
}

.promo__texts {
  @media (max-width: 992px) {
    margin-bottom: 22px;
  }
}

.promo__text {
  max-width: 666px;
  margin-left: auto;
  font-size: 35px;
  line-height: 40px;
  transform: translateY(-24px);

  @media (max-width: 1599px) {
    margin-left: 0;
    transform: translateY(0);
    font-size: 32px;
  }

  @media (max-width: 568px) {
    font-size: 16px;
    line-height: 18px;
  }
}
