.reviews {
  position: relative;
  padding-top: 144px;
  padding-bottom: 168px;
  background: linear-gradient(145.48deg, #CEF461 5.97%, #2CB4D1 81.8%);
  color: #ffffff;

  @media (max-width: 992px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (max-width: 768px) {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}

.slider-reviews__content {
  padding-bottom: 88px;

  @media (max-width: 992px) {
    padding: 0;
    padding-bottom: 50px;
  }
}

.slider-reviews__title {
  color: #ffffff;
}

.slider-reviews__step {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.slider-reviews__line {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 1px;
  background-color: #ffffff;

  @media (max-width: 992px) {
    margin-bottom: 16px;
    order: 3;
  }
}

.slider-reviews__name,
.slider-reviews__link {
  font-size: 20px;
  opacity: 0.9;
}

.slider-reviews__name {
  padding-left: 96px;

  @media (max-width: 1340px) {
    padding-left: 140px;
  }

  @media (max-width: 992px) {
    padding-left: 0;
    margin-bottom: 24px;
    order: 1;
  }

  @media (max-width: 768px) {
    margin-bottom: 26px;
    font-size: 16px;
    line-height: 18px;
  }
}

.slider-reviews__link {
  display: flex;
  align-items: center;
  column-gap: 10px;

  @media (max-width: 768px) {
    font-size: 16px;
    column-gap: 12px;
  }
}

.slider-reviews__link.video-reviews {
  position: absolute;
  bottom: 0;
  right: 4px;

  @media (max-width: 1340px) {
    right: 54px;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.slider-reviews__link.read-more {
  display: none;

  @media (max-width: 992px) {
    display: flex;
    order: 2;
    margin-bottom: 24px;
  }

  @media (max-width: 768px) {
    margin-bottom: 24px;
  }
}

.slider-reviews__link.read-more::before,
.slider-reviews__link.video-reviews::after {
  content: '';
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 38C29.9411 38 38 29.9411 38 20C38 10.0589 29.9411 2 20 2C10.0589 2 2 10.0589 2 20C2 29.9411 10.0589 38 20 38ZM22 18H30V22L22 22V30H18V22H10V18H18V10H22V18Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-reviews__prev.swiper-button-prev,
.slider-reviews__next.swiper-button-next {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-38px);

  @media (max-width: 1600px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: block;
    top: auto;
    bottom: 19px;
    width: 50px;
    height: 50px;
  }
}

.slider-reviews__prev.swiper-button-prev.swiper-button-disabled,
.slider-reviews__next.swiper-button-next.swiper-button-disabled {
  display: none;
}

.slider-reviews__prev.swiper-button-prev {
  left: 135px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.1559 31.1568L24.9844 28.3284L16.499 19.843L24.9844 11.3577L22.1559 8.52923L10.8422 19.8429L10.8423 19.843L10.8422 19.8431L22.1559 31.1568Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");

  @media (max-width: 992px) {
    left: auto;
    right: 40px;
  }

  @media (max-width: 768px) {
    right: 60px;
  }
}

.slider-reviews__next.swiper-button-next {
  right: 135px;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.8441 8.84315L15.0156 11.6716L23.501 20.1569L15.0156 28.6423L17.8441 31.4707L29.1578 20.157L29.1577 20.1569L29.1578 20.1569L17.8441 8.84315Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");

  @media (max-width: 992px) {
    right: 0;
  }

  @media (max-width: 768px) {
    right: 12px;
  }
}

.slider-reviews__prev::after,
.slider-reviews__next::after {
  display: none;
}

.slider-reviews__pagination.swiper-pagination-fraction {
  bottom: 0;
  left: -6px;
  width: 73px;
  height: 40px;
  font-size: 32px;

  @media (max-width: 1340px) {
    left: 51px;
  }

  @media (max-width: 992px) {
    left: 0;
  }

  @media (max-width: 768px) {
    left: -17px;
    bottom: 14px;
    font-size: 20px;
  }
}

.slider-reviews__pagination.swiper-pagination-fraction .swiper-pagination-current.add-animation {
  animation: opacity 1s linear both;
}

.slider-reviews__pagination.swiper-pagination-fraction .swiper-pagination-total {
  opacity: 0.6;
}

.slider-reviews__next-mobile,
.slider-reviews__prev-mobile {
  display: none;
  position: absolute;
  bottom: 18px;
  right: 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 768px) {
    display: block;
  }
}

