.b_service-card {
  --brad: 16px;
  position: relative;
  border-radius: var(--brad);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1099px) {
    margin-bottom: 16px;
  }
}
.b_service-card:last-child {
  margin-bottom: 0;
}
.b_service-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--brad);
  background: linear-gradient(123.67deg, #d7f67e 0%, #7ee0f6 282.45%);
  opacity: 0.7;
  z-index: 1;
}
.b_service-card:nth-of-type(2n + 4):after {
  background: linear-gradient(144.06deg, #d7f67e -21.73%, #7ee0f6 162.06%);
}
.b_service-card:nth-of-type(3n + 3):after {
  background: linear-gradient(123.61deg, #d7f67e -42.97%, #7ee0f6 235.09%);
}
.b_service-card:nth-of-type(4n + 2):after {
  background: linear-gradient(124.68deg, #d7f67e -110.85%, #7ee0f6 162.24%);
}
.b_service-card:nth-of-type(5n):after {
  background: linear-gradient(123.44deg, #d7f67e -180.71%, #7ee0f6 100%);
}

.b_service-card__info,
.b_service-card__pic {
  position: relative;
  z-index: 2;
}

.b_service-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 55px 26px 24px;
  max-width: 350px;
  width: 100%;
  height: 100%;

  @media (max-width: 1099px) {
    max-width: 100%;
  }
}

.b_service-card__info-text {
  margin-bottom: 27px;

  @media (max-width: 1099px) {
    margin-bottom: 32px;
  }
}
.b_service-card:nth-child(3n + 1) .b_service-card__info-text {
  margin-bottom: 98px;

  @media (max-width: 1099px) {
    margin-bottom: 32px;
  }
}
.b_service-card:first-child .b_service-card__info-text {
  margin-bottom: 28px;

  @media (max-width: 1099px) {
    margin-bottom: 32px;
  }
}

.b_service-card__icon {
  width: 60px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 22px;
}

.b_service-card__title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 32px;
  line-height: 112%;
  color: #000000;
}

.b_service-card__desc {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1.2;

  @media (max-width: 1099px) {
    font-size: 16px;
  }
}
.b_service-card__desc:last-of-type {
  margin-bottom: 0;
}

.b_service-card__button {
  margin-bottom: 12px;
  --icon-size: 36px;
}
.b_service-card__button:last-child,
.b_service-card__button:only-child {
  margin-bottom: 0;
}

.b_service-card__pic {
  display: block;
  max-width: 355px;
  width: 100%;
  height: 100%;

  @media (max-width: 1099px) {
    display: none;
  }
}
.b_service-card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: var(--brad);
}
