// @input
.input {
  display: block;
  max-width: 100%;
  width: 100%;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-bottom: 18px;
  padding-right: 32px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--radius);
  font-family: var(--ffMain);
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #000;

  @media (max-width: 575px) {
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 8px;
    font-size: 16px;
  }
}

.input:hover,
.input:focus {
  border-color: var(--input-border-active);
  background-color: var(--input-bg-focus);
}
.input__placeholder {
  position: absolute;
  top: calc(var(--padding-top) - 6px);
  left: calc(var(--padding-left));
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.3);
  transition: var(--transition-regular);

  @media (max-width: 575px) {
    font-size: 16px;
  }
}
.input__placeholder.always-active,
.input__placeholder.active {
  top: calc(var(--padding-top) / 2);
  font-size: 16px;

  @media (max-width: 575px) {
    font-size: 12px;
  }
}

.input--invalid {
  border-color: var(--invalid);
  color: var(--invalid);
}

.input__wrap--invalid .input__placeholder {
  color: var(--invalid);
}
.input__placeholder-dimmed {
  color: #b3b3b3;
}
.input--phone {
  color: transparent;
  caret-color: #000;
}
.input--tel-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-bottom: 18px;
  padding-right: 32px;
  font-size: 20px;

  @media (max-width: 575px) {
    padding-right: 16px;
    padding-bottom: 12px;
    border-radius: 8px;
    font-size: 16px;
  }
}

.input--invalid::placeholder {
  color: var(--invalid);
}
.input--invalid:hover,
.input--invalid:focus {
  background-color: var(--invalid-bg-focus);
  border-color: var(--invalid);
}

.input__wrap {
  margin-bottom: 8px;
  width: 100%;
  position: relative;
  --padding-top: 38px;
  --padding-left: 32px;
  @media (max-width: 575px) {
    --padding-top: 32px;
    --padding-left: 16px;
  }
}
.input__wrap:last-child {
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.input--capcha {
  margin-bottom: 0;
  width: auto;
  @media (max-width: 767px) {
    margin-bottom: 24px;
    padding-top: 74px;
  }
}
.g-recaptcha {
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.95);
  }
}
