.header {
    @media (max-width: 992px) {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid #DCE4E7;
        .send-request {
            display: none;
        }
    }
}

.header.no-fixed {
    background-color: transparent;
    border-bottom-color: transparent;
}

.header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1826px;
    margin: 0 auto;
    min-height: 120px;
    padding: 0 15px;

    @media (max-width: 1599px) {
        max-width: 1205px;
    }

    @media (max-width: 992px) {
        min-height: 48px;
    }
}

.logo {
    display: inline-block;
    width: 69px;
    height: 35px;
    margin-right: 243px;
    
    @media (max-width: 1599px) {
        margin-right: 223px;
    }

    @media (max-width: 1200px) {
        margin-right: 60px;
    }

    @media (max-width: 992px) {
        width: 47px;
        height: 25px;
    }
}

.main-nav {
    @media (max-width: 992px) {
        display: none;
    }
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
}

.main-nav__list li+li {
    margin-left: 48px;
}

.main-nav__list li a {
    position: relative;
    font-size: 20px;
    line-height: 23px;
}

.main-nav__list li a.active::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $main;
}

.send-request {
    transform: translateX(-4px);
    margin-left: auto;
}

.send-request__text {
    display: flex;
    align-items: center;
    column-gap: 14px;
    font-size: 20px;
    line-height: 23px;
}

.send-request__text.after {
    &::after {
        content: '';
        width: 36px;
        height: 36px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12L20 8L12 8L12 -3.49691e-07L8 -5.24536e-07L8 8L-3.49691e-07 8L-5.24537e-07 12L8 12L8 20L12 20L12 12L20 12Z' fill='white'/%3E%3C/svg%3E");
        background-color: $main;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
    }
}

.send-request__text.before {
    &::before {
        content: '';
        width: 36px;
        height: 36px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12L20 8L12 8L12 -3.49691e-07L8 -5.24536e-07L8 8L-3.49691e-07 8L-5.24537e-07 12L8 12L8 20L12 20L12 12L20 12Z' fill='white'/%3E%3C/svg%3E");
        background-color: $main;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
    }
}

.phone {
    display: none;
    margin-left: auto;
    margin-right: 30px;
    transform: translateY(2px);
    @media (max-width: 992px) {
        display: block;
    }
}

.header.no-fixed .phone {
    display: none;
}

.phone__icon {
    width: 24px;
    height: 24px;
}

.menu-wrapper {
    display: none;
    width: $bar-width;
    height: $bar-height + $bar-spacing * 2;
    transform: translate(-2px, 1px);
    cursor: pointer;

    &:active {
        .hamburger-menu.animate::before, 
        .hamburger-menu.animate::after {
            background: linear-gradient(150deg, #D7F67E 13.4%, #7EE0F6 86.6%);
        }
    }

    @media (max-width: 992px) {
        display: block;
    }
}

.header.no-fixed .menu-wrapper {
    margin-left: auto;
}

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
    width: $bar-width;
    height: $bar-height;
}

.hamburger-menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: #000000;
    transition: all 0ms 300ms;
    &.animate {
        background: rgba(255, 255, 255, 0);
    }
}

.hamburger-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background-color: #000000;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 0.5s;
}

.hamburger-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background-color: #000000;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background-color 0.5s;
}

.hamburger-menu.animate::before,
.hamburger-menu.animate::after {
    background: #ffffff;
}

.hamburger-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.modal-mobile {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    visibility: hidden;
    transition: var(--tr) linear;
}

.modal-mobile._show {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
}

.modal-mobile__wrapper {
    height: 100%;
    transform: translateX(70%);
    transition: var(--tr) linear;
    &.active_wrap {
        transform: translateX(60%);
    }
}

.modal-mobile._show .modal-mobile__wrapper {
    transform: translateX(0);
}

.modal-mobile__box {
    background-color: #141212;
    max-width: 215px;
    height: 100%;
    margin-left: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-mobile__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    min-height: 47px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.modal-mobile .modal-mobile__menu,
.modal-mobile .modal-mobile__footer-menu {
    opacity: 0;
}

.modal-mobile._show .modal-mobile__menu,
.modal-mobile._show .modal-mobile__footer-menu {
    animation: opacity 1s ease both;
    transition-delay: .4s;
}

.modal-mobile__body {
    padding: 32px 40px 32px 51px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.modal-mobile__menu-list {
    color: #ffffff;
    animation: opacity 1s linear both, 1s;
}

.modal-mobile__menu-list li+li {
    margin-top: 21px;
}

.modal-mobile__menu-list li a {
    position: relative;
    font-size: 20px;
    line-height: 23px;

    &:active {
        .modal-mobile__menu-line::after {
            width: 100%;
        }
    }
}

.modal-mobile__menu-list li a::before {
    display: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

.modal-mobile__menu-list li a.active::before {
    display: block;
}

.modal-mobile__menu-dash {
    margin-right: 2px;
}

.modal-mobile__menu-line {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #ffffff;
        transition: width 0.5s;
    }
}

.modal-mobile__footer {
    padding: 29px 18px 45px 51px;
}

.modal-mobile__item+.modal-mobile__item {
    margin-top: 13px;
    line-height: 21px;
}

.modal-mobile__link {
    position: relative;
    display: inline-block;
    color: #D7F67E;
    background: linear-gradient(150deg, #D7F67E 13.4%, #7EE0F6 86.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 14px;
    line-height: 16px;

    &:active {
        &::after {
            width: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        height: 1px;
        width: 0;
        background: linear-gradient(150deg, #D7F67E 13.4%, #7EE0F6 86.6%);
        transition: width 0.5s;
    }
}

.opacity {
    opacity: 0;
}